.addition-group__list {
  @media (min-width: @tablet) {
    margin: 63px 74px 9px;
    width: 533px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop) {
    width: 1162px;
    margin: 65px 150px 9px;
  }
}

.addition-group__item {
  padding-bottom: 19px;

  @media (min-width: @tablet) {
    min-width: 189px;
    padding-bottom: 47px;
  }

  @media (min-width: @desktop) {
    padding-bottom: 56px;
  }
}
