.addition-group {
    margin: 0;
    padding: 0;
    padding-bottom: 35px;
}

.addition-group__list {
    padding: 0;
    margin: 0 21px;
}


.addition-group__item:not(:last-child) {
    padding: 0;
    margin: 0;
    margin-bottom: 19px;
}