.contact-group {
    

    &::after {
        content: "";
        position: absolute;
        border-top: 2px solid #68B738;
        width: 100%;
    }
}

.contact-group__title {
    position: relative;
}
