.how {
  margin: 0;
  padding: 1px 20px 30px 20px;

  @media (min-width: @tablet) {
    margin: 0;
    padding: 0 20px 102px;
  }

  @media (min-width: @desktop) {
    padding: 54px 0px 71px;
    width: 1220px;
    margin: 0 auto;
  }
}

.how__title {
  margin: 0 0;
  padding: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  width: 230px;
  margin-bottom: 39px;

  @media (min-width: @tablet) {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    width: 375px;
    padding: 17px 0 0px 13px;
  }

  @media (min-width: @desktop) {
    padding: 17px 0 0 0;
    width: 600px;
  }
}

.how__list {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet) {
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 280px 280px;
    gap: 104px 101px;
    width: 734px;
}

  @media (min-width: @desktop) {
    display: flex;
    flex-wrap: wrap;
    gap: 82px;
    margin: 0;
    width: 1440px;
  }
}

.how__item {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  min-height: 60px;
  position: relative;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    background: center #68b738 no-repeat;

    @media (min-width: @tablet) {
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    position: absolute;
    color: #f2f2f2;
    font-size: 280px;
    bottom: -125px;
    left: 116px;
    z-index: -1;

    @media (min-width: @desktop) {
      bottom: -76px;
      left: 118px;
    }
  }

  @media (min-width: @tablet) {
    min-height: 80px;
    margin: 31px 0 0 13px;
  }

  @media (min-width: @desktop) {
    margin: 35px 0 0;
    bottom: 2px;
    left: 0px;
  }
}

.how__item--leaf {

  &::before {
    background-image: url("../img/leaf.svg");

    @media (min-width: @tablet) {}
  }

  @media (min-width: @tablet) {
    &::after {
      content: "1";
    }
  }
}

.how__description {
  margin: 0 5px 0 79px;
  padding: 4px 0 0;
  color: #444444;
  font-family: @lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 79px;

  @media (min-width: @tablet) {
    padding: 111px 0 0 0;
    margin: 0 0 0 2px;
    width: 242px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
  }

  @media (min-width: @desktop) {
    padding: 111px 0 52px;
    margin: 0 0 0 1px;
    min-height: 72px;
  }
}

.how__item--powder {

  &::before {
    background-image: url("../img/powder.svg");
  }

  @media (min-width: @tablet) {
    &::after {
      content: "2";
    }
  }
}

.how__item-description {
  margin: 0;
  padding: 2px 0 4px;
  color: #444444;
  font-family: "Lato";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-left: 79px;
  width: 227px;
}

.how__item--eat {

  &::before {
    background-image: url("../img/knife.svg");
  }

  @media (min-width: @tablet) {
    &::after {
      content: "3";
    }
  }
}

.how__item--time {

  &::before {
    background-image: url("../img/watch.svg");
  }

  @media (min-width: @tablet) {
    &::after {
      content: "4";
    }
  }
}

.how__list-item {
  list-style: none;
}
