.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  right: 20px;
  top: -45px;
  width: 24px;
  height: 24px;
  display: block;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  display: none;
}

.main-nav--closed .main-nav__toggle {
  display: block;
}

.main-nav--opened .main-nav__toggle {
  display: block;
  background-image: url("../img/cross.svg");
  position: absolute;
  right: 20px;
  top: -45px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e6e6e6;
  /*display: none;/*/

  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 436px;
  }

  @media (min-width: @desktop) {
    display: flex;
  }

}

.main-nav--closed .main-nav__list {
  display: none;

  @media (min-width: @tablet) {
    display: flex;
  }
}

.main-nav--opened .main-nav__list {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  top: 0;
  left: 0;
}

.main-nav__link {
  display: block;
  padding: 23px 10px 22px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  text-align: center;

  @media (min-width: @tablet) {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 38px 0 26px;
    position: relative;
  }

  @media (min-width: @desktop) {
    color: #ffffff;
  }
}

.main-nav__item {
  color: #000000;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
  position: relative;
}

.main-nav__item--current {

  @media (min-width: @tablet) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 17px;
      left: 0px;
      border-top: 2px solid #68b738;
      width: 100%;

    }
  }

  @media (min-width: @desktop) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 17px;
      left: 0px;
      border-top: 2px solid #ffffff;
      width: 100%;
    }
  }
}