.main-nav {
	position: relative;
}

.main-nav__toggle {
	position: absolute;
	right: 20px;
	top: -45px;
	width: 24px;
	height: 24px;
	display: block;
	background-image: url("../img/menu.svg");
	background-repeat: no-repeat;
	background-color: #ffffff;
	border: none;
	cursor: pointer;
	display: none;
}

.main-nav--closed .main-nav__toggle {
	display: block;
}

.main-nav--opened .main-nav__toggle {
	display: block;
	background-image: url("../img/cross.svg");
	position: absolute;
	right: 20px;
	top: -45px;
	width: 24px;
	height: 24px;
	background-repeat: no-repeat;
	background-color: #ffffff;
	border: none;
	cursor: pointer;
}

.main-nav__list {
	margin: 0;
	padding: 0;
	list-style: none;
    border-top: 1px solid #e6e6e6;
	/*display: none;/*/
}

.main-nav--closed .main-nav__list {
	display: none;
}

.main-nav--opened .main-nav__list {
	display: block;
	position: absolute;
	width: 100%;
	background-color: #ffffff;
	top: 0;
	left: 0;
}

.main-nav__link {
	display: block;
	padding: 23px 10px 22px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
}

.main-nav__item {
	color: #000000;
	text-transform: uppercase;
    border-top: 1px solid #e6e6e6;
}