.page-form__title {
  padding: 28px 20px 36px;

  @media (min-width: @tablet) {
    padding: 51px 72px 55px;
  }

  @media (min-width: @desktop) {
    width: 1220px;
    padding: 64px 0 0 0;
    margin: 0 auto;
  }
}

.page-form__text {
  margin-bottom: 39px;
  width: 240px;

  @media (min-width: @tablet) {
    width: 350px;
    margin-bottom: 66px;
  }

  @media (min-width: @desktop) {
    padding: 56px 0 0 77px;
    width: 390px;
  }
}
