.radio-input {
  list-style-type: none;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  margin-bottom: 17px;
}

.radio-input__label {
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 44px;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 22px;
    padding-left: 45px;
  }

  &::before {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    left: -1px;
    top: -3px;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    display: block;

    @media (min-width: @tablet) {
      width: 38px;
      height: 38px;
      border-radius: 25px;
      left: -15px;
      top: -6px;
    }
  }

  &::after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: #68b738;
    border-radius: 50%;
    left: 8px;
    top: 6px;
    display: none;

    @media (min-width: @tablet) {
      width: 18px;
      height: 18px;
      border-radius: 25px;
      left: -4px;
      top: 5px;
    }
  }
}

.radio-input__input:checked+.radio-input__label::after {
  display: block;
}

.radio-input__input:hover+.radio-input__label::before {
  border: 1px solid #bababa;
}

.radio-input__input:disabled+.radio-input__label {
  opacity: 0.3;
}
